
<html>
<head>
</head>

<body>
	<table width="800" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td><img src="https://barry-8080.entrostat.dev/assets/img_01.jpg" width="800" height="111" alt=""/></td>
    </tr>
    <tr>
      <td><table width="800" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td width="78"><img src="https://barry-8080.entrostat.dev/assets/img_02.jpg" width="78	" height="152" alt=""/></td>
            <td width="218"  bgcolor="#2b3161"><table width="218" border="0" align="center" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td><strong  style="font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif; color: #FFFFFF; font-size: 18px;" >Here is your awesome<br> OTP: <%= password %></strong></td>
                </tr>
     
                <tr>
                  <td><span style="font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif; color: #FFFFFF; font-size: 15px;" align="center">Your one-time password
                    <br> 
                    needs to be
                    <a href="https://barry-8080.entrostat.dev/validate-otp/" style="font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif; color: #FFFFFF; font-size: 15px;"><strong>verified</strong></a>.</span></td>
                </tr>
              </tbody>
            </table></td>
            <td width="504"><img src="https://barry-8080.entrostat.dev/assets/img_04.jpg" width="504" height="152" alt=""/></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
    <tr>
      <td><img src="https://barry-8080.entrostat.dev/assets/img_05.jpg" width="800" height="263" alt=""/></td>
    </tr>
  </tbody>
</table>

</body>
</html>
